<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
            [(ngModel)]="product.name" name="name">
            
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
            [(ngModel)]="product.price" name="price">

        </mat-form-field>
    </form>
    <div style="display: inline-block; margin-top: 30px;">
    <button mat-raised (click)="createProduct()" color="primary">
        Salvar
    </button>
    
    <button mat-raised (click)="cancel()">
        Cancelar
    </button>

    </div>

</mat-card>
